<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="truckstationsa.truckstation">
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CustomerLogInPage"
            android:label="Login"/>
        <activity android:name=".PublicOwnerRegistration" />
        <activity android:name=".privateOnerLogIn" />
        <activity android:name=".publicOnerLogIn" />
        <activity android:name=".PublicOrPrivat" />
        <activity android:name=".GoTOCustomerRegisterPage"
            android:label="Rigistration"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC_PwVA-gJQ24JZbhZYJINoK9XLC3KdGrg" />

    </application>
</manifest>