<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="truckstationsa.truckstation">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomerLogInPage"
            android:label="تسجيل الدخول المستخدم" />
        <activity
            android:name=".PublicOwnerRegistration"
            android:label="تسجيل الدخول صاحب عربه" />
        <activity
            android:name=".privateOwnerLogIn"
            android:label="انشاء حساب صاحب عربه" />
        <activity
            android:name=".publicOnerLogIn"
            android:label="تسجيل الدخول صاحب عربه" />
        <activity
            android:name=".PublicOrPrivat"
            android:label="TruckStation" />
        <activity
            android:name=".GoTOPrivatRegisterPage"
            android:label="انشاء حساب صاحب عربه" />
        <activity
            android:name=".ListPrivate"
            android:label="عربات الطعام الخاصة"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".PravitListVistor"
            android:label="عربات الطعام الخاصة"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".ListPuplic"
            android:label="عربات الطعام العامة"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".publicListVistor"
            android:label="عربات الطعام العامة"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".GoTOCustomerRegisterPage"
            android:label="انشاء حساب مستخدم" />
        <activity
            android:name=".resetpassword"
            android:label="اعاده تعيين كلمه المرور" />
        <activity
            android:name=".VisitorHomePage"
            android:label="عربات الطعام ع الخريطه" />
        <activity
            android:name=".VsitorAllTrucks"
            android:label="عربات الطعام ع الخريطه" />
        <activity
            android:name=".customer_profilenew"
            android:label="الملف الشخصي" />
        <activity
            android:name=".Rating"
            android:label="تقييم العربه" />
        <activity
            android:name=".NearByTrucks"
            android:label="العربات القريبه مني" />
        <activity
            android:name=".NearByTrucksVisitors"
            android:label="العربات القريبه مني" />
        <activity
            android:name=".Chart"
            android:label="مستخدمي التطبيق" />
        <activity
            android:name=".ChartVisitor"
            android:label="مستخدمي التطبيق" />
        <activity
            android:name=".editprofile"
            android:label="اعاده تعيين معلوماتي" />
        <activity android:name=".contentmain" />
        <activity
            android:name=".ownermenu"
            android:label="قائمه الطعام" />
        <activity android:name=".itemlist" />
        <activity
            android:name=".edititem"
            android:label="تعديل الصنف" />
        <activity
            android:name=".Logout1"
            >
        </activity>
        <activity
            android:name=".testMap"
            >
        </activity>
        <activity
            android:name=".MyMain"
            >
        </activity>
        <activity
            android:name=".publictruckownerprofile"
            android:label="صفحتي الشخصيه" />
        <activity android:name=".Homepage" />
        <activity android:name=".postActivityPublic" />
        <activity android:name=".PublicOwnerProfileActivity" />
         <activity android:name=".tab3_itemlist"/>
        <activity android:name=".tab3_itemlistforcustomer"/>
        <activity android:name=".Publicownerforcustmer"/>
        <activity android:name=".bookingrequest" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC_PwVA-gJQ24JZbhZYJINoK9XLC3KdGrg" />
        <activity
            android:name=".PrivateOwnerProfileActivity"
            android:label="@string/title_activity_private_owner_profile"
            android:theme="@style/AppTheme" />
        <activity android:name=".postActivityPrivate"></activity>
        <activity android:name=".SinglePostView"></activity>
    </application>

</manifest>